$width: 45%;
.ime{
  background-color: var(--background);
  min-height: 100vh;
}
.items {
  width: 95%;
  height: fit-content;
  margin: 20px auto;
  position: relative;
  border: 1px solid #ccc;
  background-color: var(--background);
  font-family: "Supreme-Light", sans-serif, cursive, monospace, fantasy, serif;
}

.insideItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background-color: var(--background);
}

.items__img {
  flex: 1;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--text-primary-opacity);
  & img {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.items__info {
  padding-left: 20px;
  flex: 1;
  background-color: var(--background);
  position: relative;
}

.items__info__inSide {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 20px;
}

.items__title {
  color: var(--text-primary);
  font-size: 4rem;
  font-weight: 600;
  font-family: "fearce", sans-serif, cursive, monospace, fantasy, serif;
}

.items__describe {
  color:var(--text-primary);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0;
}

.items__price {
  color: var(--text-primary);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 0;
}

.items__button {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
}

.items__button_add {
  background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

  &:hover {
      background-color: #3e8e41;
    color: var(--text-primary);
  }
  &:active{
    background-color: #3e8e41;
      /* thay đổi màu nền khi active */
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      /* giảm bóng của button */
      transform: translateY(2px)
  }
}

.ItemBtn {
  left: 60px;
  position: relative;
  width: fit-content;
  margin: 20px;
  gap: 10px;
  display: flex;
}

.BackBtn,
.NextBtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.CountItem {
  display: flex;
  width: fit-content;
  border: 1px solid var(--text-primary-opacity);
  border-radius: 5px;
  height: 35px;
  overflow: hidden;

}

.CountItem__number {
  width: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  height: auto;
}

.CountItem__btn__plus,
.CountItem__btn__minus {
  height: 35px;
  width: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;

  & svg {
    width: 80%;
    height: 80%;
  }

  &:hover {
    background-color: rgb(129, 57, 57);
      color: var(--text-primary);
    transition: color 0.1s ease-in-out;
  }
}
.CountItem__btn__plus{
  border-left: 1px solid var(--text-primary-opacity);
}
.CountItem__btn__minus{
  border-right: 1px solid var(--text-primary-opacity);
}
.evaluate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  padding-left: 12px;
  flex-direction: row;
  margin-top: auto;
}

.star {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: absolute;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &+.star {
    margin-left: 12px;
  }
}
.popup__check__login {
  position: fixed;
  background-color: var(--text-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 300px;
  border: 1px solid var(--text-primary);
  z-index: 99;
  height: 300px;
  margin: 0 auto;

}

.img_notification {
  width: 100%;
  border-radius: 20px;
  flex: 0 0 40%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.popup__check__login__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1 0 60%;

  & h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  & h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.popup__check__login__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  height: 100%;
}

.popup__check__login__content__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;

  & .close {
    background-color: #f44336;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    line-height: 1;

    &:hover {
      background-color: #d32f2f;
      transform: scale(1.1);
    }

    &:active {
      background-color: #b71c1c;
      transform: scale(0.9);
    }
  }

  & svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.login,
.cancel {
  flex: 1 0 30%;
  height: 40px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  margin: 10px;
  background-color: var(--background);
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3e8e41;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }

  &:active {
    background-color: #2d682d;
    color: #fff;
    box-shadow: none;
    transform: scale(0.9);
  }
}
@media screen and (max-width: 480px) {
  .items {
    height: fit-content;
    border: none;
  }

  .insideItems {
    flex-direction: row;
  }

  .items__title {
    font-size: 2rem;
  }

  .items__img {
    width: 300px;
    height: 200px;
  }

  .items__info {
    width: 300px;
    height: fit-content;
    padding: 20px;
  }

  .items__button {
    flex-direction: column;
    gap: 10px;
  }
}