.cart {
  width: 92%;
  margin: 30px auto;
  padding: 20px;
  min-width: 650px;
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  border: 1px solid var(--text-primary);
  font-family: "averta", "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}
.empty__cart{
  width: 100%;
  height: 100vh;
}
.cart__product {
  width: 100%;
  border-right: 1px solid var(--text-primary-opacity);
  flex: 1;
}
.cart__cost {
  height: 100%;
  flex-shrink: 0;
  margin: 0 auto;
  width: 380px;
  color: var(--text-primary);
}
.center {
  margin: 0 auto;
  width: 270px;
  height: fit-content;
}
.cart__cost__titles,
.cart__product__titles {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  color: var(--text-primary);
  text-transform: uppercase;
}
.cart__cost__title {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  color: var(--text-primary);
  display: flex;
  align-items: center;
}
.cart__cost__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  padding: 10px 0;

  align-items: center;
  color: var(--text-primary);
}
.cart__cost__shipping__title {
  padding: 10px 0;
}
.cart__cost__shipping {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
}
.product{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.product__image{
  grid-column: 2/4;
  height: 75px;
  overflow: hidden;
  border: 1px solid var(--text-primary);
  border-radius: 10px;
  background-color: #d8c9db91;
  backdrop-filter: blur(10px);
  & img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.code__icon__promo{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-right: 10px;
  & svg{
    margin-right: 10px;
    width: 20px;
    height: 100%;
  }

}
.product__name{
  grid-column: 5/11;
  display: flex;
  align-items: start;
  font-size: 16px;
  flex-wrap: wrap;
  font-weight: 700;
  color: var(--text-primary);
}
.cart__cost__shipping__address {
  color: var(--text-primary);
  width: 270px;
  margin: 0 auto;
  padding: 10px 0;
}
.cart__cost__code {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  align-items: center;
  padding-bottom: 10px;
}
.cart__cost__code__input {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--text-primary);
  align-items: center;
  overflow: hidden;
  height: 35px;
  border-radius: 15px;
  align-self: center;
  & input {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 12px;
  }
}
.cart__cost__total {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 270px;
  border-bottom: 1px solid var(--text-primary);
}
.cart__cost__button {
  width: 270px;
  margin: 20px auto;
  height: 40px;
  color: var(--text-primary);
  & button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--text-primary);
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    // cursor: wait;
  }
  & :hover {
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
  & :active {
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
}

.center {
  margin: 0 auto;
  width: 270px;
}
.btn__code {
  width: 100px;
  margin: 0px auto;
  height: 40px;
  color: var(--text-primary);
  & button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--text-primary);
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
  }
  & :hover {
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
  & :active {
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
}
.center__cart {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
table {
  width: 100%;


}
table tr {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--text-primary-opacity);

}
.tr_items{
    border-bottom: 1px solid var(--text-primary-opacity);
      border-top: 1px solid var(--text-primary-opacity);
}
table,
thead,
tbody,
tr {
  width: 100%;
}

td,
th {
  vertical-align: middle;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: wrap;
}
thead th {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-primary);
  text-transform: uppercase;
  height: 50px;
}
.btn__recycle {
  width: 28px;
  height: 28px;
  display: flex;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  & :active {
    background-color: var(--text-primary);
    color: var(--text-secondary);
  }
}
tbody td {
  font-size: 13px;
  color: var(--text-primary);
  height: 90px;
}

// ::-webkit-scrollbar {
//   width: 1px;
// }

// ::-webkit-scrollbar-thumb {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
// }
.cart__cost__price__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 250px;
  align-items: center;
  color: var(--text-primary);
}
.CountItem {
  display: flex;
  margin: 10px 0;
  width: 100px;
  border: 1px solid var(--text-primary-opacity);
  border-radius: 5px;
  overflow: hidden;
}
.CountItem__number {
  width: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.CountItem__btn__plus,
.CountItem__btn__minus {
  height: 25px;
  width: 30px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  & svg {
    width: 70%;
    display: inline-block;
    height: 70%;

  }
  &:hover {
    color:var(--background);
    background-color: var(--text-primary);
    transition: color 0.1s ease-in-out;
  }
}
.CountItem__btn__plus{
  border-left: 1px solid var(--text-primary-opacity);
}
.CountItem__btn__minus {
  border-right: 1px solid var(--text-primary-opacity);
}
.evaluate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  padding-left: 12px;
  flex-direction: row;
  margin-top: auto;
}

.star {
  width: 20px;
  height: 20px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & + .star {
    margin-left: 12px;
  }
}
.discount_form{
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  & input{
    width: 100%;
    height: 40px;
    margin: 10px;
    outline: none;
    border-radius: 15px;
    padding-left: 12px;
    margin-bottom: 10px;
  }
  & button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--text-primary);
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  & button:hover{
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
  & button:active{
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }

}
.table{
  border-top: 1px solid var(--text-primary-opacity);
}
.table,tbody{
  width: 120%;
  margin: 10px;
}
td,th{
  user-select: text;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  
  & button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--text-primary);
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  & button:hover{
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
  & button:active{
    background-color: var(--text-secondary);
    color: var(--text-primary);
  }
}
.discount_code_input{
  width: 100%;
  height: 40px;
  margin: 10px;
  border: 1px solid var(--text-primary-opacity);
  outline: none;
  border-radius: 15px;
  padding-left: 12px;
  margin-bottom: 10px;
}
.popup__check__login{
  position: fixed;
  background-color: var(--text-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 300px;
  border: 1px solid var(--text-primary);
  z-index: 99;
  height: 300px;
  margin: 0 auto;
 
}
.img_notification{
  width: 100%;
  border-radius: 20px;
  flex: 0 0 40%;
  height: 100%;
  & img{
    width: 100%;
    height: 100%;
      object-fit: contain;
  }
}
.popup__check__login__content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1 0 60%;
  & h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  & h6{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
.popup__check__login__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width:80%;
    height: 100%;
}
.popup__check__login__content__close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  & .close{
        background-color: #f44336;
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        line-height: 1;
        &:hover {
            background-color: #d32f2f;
            transform: scale(1.1);
          }
        &:active {
            background-color: #b71c1c;
            transform: scale(0.9);
          }
      }
     & svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  }


.login,.cancel{
  flex: 1 0 30%;
  height: 40px;
  border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  border-radius: 4px;
  outline: none;
  margin: 10px;
  background-color: var(--background);
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
      background-color: #3e8e41;
      color: #fff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      transform: scale(1.1);
    }
  
    &:active {
      background-color: #2d682d;
      color: #fff;
      box-shadow: none;
      transform: scale(0.9);
    }
}
@media screen and (max-width: 960px) {
  .cart{
  flex-direction: column;
  }
  .product__name{
        font-size: 12px;
  }
}